@using BlogCore.Models.ViewModels
@model HomeVM
@*-- Abre Slider *@

<div id="carouselImages" class="carousel slide">
    
    <div class="carousel-inner">

        @{
            int cont = 0;
        }
        @foreach(var slider in Model.Sliders)
        {
            //Evalua si cont es igual a 0 antes de incrementar su valor, solo la primera imagen tendrá active por defecto
            
            @if(slider.Estado == true)
            {
                var itemDinamico = cont++ == 0 ? "active" : "";
                <div class="carousel-item  @itemDinamico">
                    <img src="@slider.UrlImagen" class="d-block w-100" alt="sliders">
                    <h1 class="text-white text-center bg-dark">@slider.Nombre</h1>
                </div>
            }
            
        }

       @*  <div class="carousel-item active">
            <img src="/imagenes/sliders/447ef291-44f0-47d0-832d-8c26fbb7043f.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/imagenes/sliders/a1f28363-9a8c-427c-9890-4094e48866df.jpg" class="d-block w-100" alt="...">
        </div> *@
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@*-- Cierra Slider *@